{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>
            Decrypt Document
        </h2>

        <p>
            Upload an encrypted .bin file.
        </p>

        <form action="/decrypt" method="POST" enctype="multipart/form-data">

            <input type="file" name="document" class="form-control" required>

            <br>

            <button type="submit" class="btn btn-info">
                Decrypt
            </button>

        </form>

    </div>

</div>

{% endblock %}