{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>
            Verify Signature
        </h2>

        <form action="/verify" method="POST" enctype="multipart/form-data">

            <label>
                Document
            </label>

            <input type="file" name="document" class="form-control" required>

            <br>

            <label>
                Signature
            </label>

            <input type="file" name="signature" class="form-control" required>

            <br>

            <button class="btn btn-success" type="submit">
                Verify
            </button>

        </form>

    </div>

</div>

{% endblock %}